

.sect-gifts {
    
    margin-bottom: 10px;
}

.navigation{
    
    /*background-color: rgba(55, 36, 40, .88);*/
    background-color: rgba(0, 0, 0, .75);

}


.table-presents{
    margin-top: 100px;
}
.wide-table {
    
    width: 75%;
    margin: 0 auto; /*Centra la tabla horizontalmente*/
    
}

.wide-table th, .wide-table td {
    text-align: center;
    /* Otros estilos para tus celdas y encabezados, si es necesario */
}


.disponible {
    background-color: #E9F7E6;
  }
  
  .apartado {
    background-color: #FBE0DE;
  }
  

/*----------------------*/


/* Estilos para pantallas más grandes */
.wide-table {
    width: 100%;
    /* otros estilos de tabla */
}

.wide-table th, .wide-table td {
    padding: 10px;
    /* otros estilos de celda */
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 600px) {
    .wide-table, .wide-table thead, .wide-table tbody, .wide-table th, .wide-table td, .wide-table tr {
        display: inline-block;
    }

    .wide-table thead {
        display: none; /* Ocultar el encabezado en pantallas pequeñas */
    }

    .wide-table tr {
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd; /* Agregar un borde para separar las filas */
    }

    .wide-table td {
        text-align: left;
        padding-left: 0; /* Ajustar el padding si es necesario */
        padding-top: 10px; /* Espacio antes de cada celda */
    }
}

/* Estilos para botones y texto */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    /* otros estilos de botón */
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    /* Convierte las filas de la tabla en contenedores flex */
    .wide-table tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Asegura espacio entre los elementos */
        border-bottom: 1px solid #ddd; /* Estilo de separación de items */
    }

    /* Estilos para las celdas para que ocupen todo el ancho y el botón quede centrado debajo */
    .wide-table td, .wide-table th {
        display: flex;
        justify-content: center; /* Centra el contenido de las celdas */
        width: 100%;
        margin-bottom: 0px; /* Espacio entre la descripción del regalo y el botón */
    }

    /* Específico para el botón, para asegurar que ocupe su espacio natural y quede centrado */
    .wide-table td .btn, .wide-table th .btn {
        margin: 0 auto; /* Centra el botón */
    }
}
